<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>organismServlet</servlet-name>
    <servlet-class>org.concord.geniverse.server.OrganismServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>organismServlet</servlet-name>
    <url-pattern>/geniverse/organism</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Geniverse.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>imagesHost</param-name>
    <param-value>http://resources.genigames.concord.org</param-value>
    <description>An alternative host on which the dragon images should be based.</description>
  </context-param>

</web-app>
